@media (min-width: 1300px) {
  .container {
    max-width: 1240px;
  }
}
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand .logo {
  width: 16.75rem;
  height: auto;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
  margin-top: 1.25rem;
  height: 4.31rem;
  background-color: #e7e7e7;
  padding: 0.62rem;
  width: 100%;
  border-radius: 7px;
}

.search-input {
  color: #e7e7e7;
  border: 0;
  outline: 0;
  background: none;
  margin: auto 0;
  line-height: auto;
}

.search .search-input {
  padding: 0 0.62rem;
  width: 100%;
  font-size: 1.12rem;
  font-weight: normal;
  color: black;
}

.search-img {
  height: 2.75rem;
  width: 2.75rem;
}

.results {
  height: 2.75rem;
  width: auto;
}

.filters {
  padding: 1rem 0;
}


/* combobox css*/

ul {
  list-style: none;
  padding: 0;
}

.autocomplete {
  position: relative;
}

.autocomplete label{
  display: flex;
  align-items: center;
  background-color: #3282F7;
  width: 170px;
  height: 4.31rem;
  border: 1px solid #3282F7;
  border-radius: 5px;
  background-color: #3282F7;
  color: #fff;
}

.searchInput {
  width: 140px;
  border:none;
  outline:none;
  padding: 0.2rem 0.5rem;
  background-color: #3282F7;
  color: #fff;
}

.searchInput:focus {
  outline: none;
}

.searchInput::placeholder{
  color: white;
}

.searchInput:focus::placeholder {
  color: transparent;
}

.autocomplete[aria-expanded=true] label i{
  transform: rotate(-180deg) translate(0%, 0%);
}


.suggestions {
  position: absolute;
  width: 170px;
  top: 80%;
  left: 0;
  right: 0;
  border-radius: 5px;
  background-color: #3282F7;
  color: #fff;
}


.badge {
  border-radius: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  padding: .375rem .5625rem;
  margin-top:1rem;
  margin-right:1rem;
}

.badge.badge-pill{
  border-radius: 5px
}

.suggestions > li {
  padding: 0.5rem;
  transition: 0.1s background-color ease-out;
  border-radius: 5px;
  width:auto;
  min-width: 170px;
  margin: 0.4rem 0;
}

.suggestions > li.current {
  background-color: #447bce;
  border-radius: 5px
}
