@media (min-width: 1300px) {
  .container {
    max-width: 1240px;
  }
}
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand .logo {
  width: 16.75rem;
  height: auto;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
  margin-top: 1.25rem;
  height: 4.31rem;
  background-color: #e7e7e7;
  padding: 0.62rem;
  width: 100%;
  border-radius: 7px;
}

.search-input {
  color: #e7e7e7;
  border: 0;
  outline: 0;
  background: none;
  margin: auto 0;
  line-height: auto;
}

.search .search-input {
  padding: 0 0.62rem;
  width: 100%;
  font-size: 1.12rem;
  font-weight: normal;
  color: black;
}

.search-img {
  height: 2.75rem;
  width: 2.75rem;
}

.results {
  height: 2.75rem;
  width: auto;
}

.filters {
  padding: 1rem 0;
}

.btn {
  text-align: left;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.btn::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f107';
  font-weight: 900;
  color: white;
  position: absolute;
  right: 0.75rem;
  top: calc(50% + 0.19rem);
  transform: translateY(-50%);
}

/* dropdown styles css*/

.dropdown {
  position: relative;
  cursor: pointer;
}

.select-label {
  font-weight: bold;
  margin-left: 2.2vw;
  margin-right: 1.7rem;
  padding-top: 0.8rem;
  font-size: 1.13rem;
}

.dropdown .dropdown-toggle {
  appearance: none;
  background: #901c1c;
  color: #fff;
  border: 0;
  padding: 0.75rem 2.18rem 0.75rem 0.75rem;
  border-radius: 0.44rem;
  text-align: left;
  position: relative;
  width: 10.62rem;
  height: 4.31rem;
  cursor: pointer;
  outline: none;
  font-size: 1.12rem;
}

.dropdown .dropdown-toggle:focus {
  outline: 2px solid #901c1c;
}

.dropdown .dropdown-toggle:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f107';
  font-weight: 900;
  color: white;
  position: absolute;
  right: 0.75rem;
  top: calc(50% + 0.19rem);
  transform: translateY(-50%);
}

.dropdown .dropdown-toggle.active:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f107';
  font-weight: 900;
  color: white;
  position: absolute;
  right: 0.75rem;
  top: calc(50% + 0.19rem);
  transform: translateY(-50%);
}

.dropdown .dropdown-menu {
  position: absolute;
  left: 0%;
  top: 23%;
  transform: translateY(-10%);
  background: #901c1c;
  list-style: none;
  margin: 0;
  width: 10.62rem;
  border-radius: 0.44rem;
  z-index: 10;
  visibility: hidden;
  color: #fff;
  padding-inline-start: 0rem;
}

.dropdown .dropdown-menu[aria-expanded='true'] {
  visibility: visible;
}

.dropdown .dropdown-menu[aria-expanded='true']:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f106';
  font-weight: 900;
  color: white;
  position: absolute;
  right: 0.75rem;
  top: 12%;
}

.dropdown .dropdown-menu > li {
  display: block;
  align-items: center;
  padding: 1.25rem 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown .dropdown-menu li:not(:last-child) {
  border-bottom: 0.06rem solid #fff;
}

.dropdown .dropdown-menu > li:hover,
.dropdown .dropdown-menu > li:focus {
  outline: none;
  border-radius: 0.19rem;
  background: #db8876;
}
